<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Filtro marcas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click) = "getMotos('http://javier-ruiz-7e3.alwaysdata.net/miapi/ducati')">
        <img src="./assets/ducati.png">
        <ion-label>Ducati</ion-label>
      </ion-item><br>
      <ion-item (click) = "getMotos('http://javier-ruiz-7e3.alwaysdata.net/miapi/yamaha')">
        <img src="./assets/yamaha.png">
        <ion-label>Yamaha</ion-label>
      </ion-item><br>
      <ion-item (click) = "getMotos('http://javier-ruiz-7e3.alwaysdata.net/miapi/honda')">
        <img src="./assets/honda.png">
        <ion-label>Honda</ion-label>
      </ion-item><br>
      <ion-item (click) = "getMotos('http://javier-ruiz-7e3.alwaysdata.net/miapi/getmotos')">
        <ion-label>Todas</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mis Motos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let moto of motos">
        <ion-label (click) = "detalle(moto.marca,moto.modelo,moto.foto,moto.id)">
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <img src="{{moto.foto}}">  
              </ion-col>
              <ion-col size="10">
                <h2>{{moto.modelo}}</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>    
      </ion-item>
    </ion-list>
  </ion-content>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click) = "addMoto()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>


