.test {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}
ion-row:hover {
    border: solid 2px rgb(0, 255, 170);
    border-radius: 5px;
}
.rowButton:hover {
    border: none;
}

#foto{
    display: none;
}
#icon{
    width: 100%;
    cursor: pointer;
}