<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>addMoto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <label for="foto">
                <img id="icon" src="/assets/camara.svg">
              </label>
              <input id="foto" type="file" name="foto" accept="image/*" capture="camera"/>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="test" size="3">Marca</ion-col>
          <ion-col size="9">
            <ion-input type="text" [(ngModel)]="marca"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="test" size="3">Modelo</ion-col>
          <ion-col size="9">
            <ion-input type="text" [(ngModel)]="modelo"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="test" size="3">Año</ion-col>
          <ion-col size="9">
            <ion-input type="text" [(ngModel)]="year"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="test" size="3">Precio</ion-col>
          <ion-col size="9">
            <ion-input type="number" [(ngModel)]="precio"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="rowButton">
          <ion-col size="12">
            <ion-button (click)="guardar()" expand="block">
              Guardar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
  </ion-list>
</ion-content>
