<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Moto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img src="{{foto}}" />
  <ion-card-header>
    <ion-card-subtitle>{{marca}}</ion-card-subtitle>
    <ion-card-title>{{modelo}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. At delectus neque autem fugit voluptatem! Consequatur saepe culpa qui laboriosam veniam!
  </ion-card-content>
  <ion-button (click)="deleteMoto(id)" color="warning">
    Borrar moto
  </ion-button>
</ion-card>
</ion-content>
